/LIBRARY_query/*.gff

/LIBRARY_reference/**
!/LIBRARY_reference/README

/input_custom_seq/*.fa
!/input_custom_seq/test_sequences.fa

/input_tool_3/*.gff

/output_tool_3/**
!/output_tool_3/README

work/
.nextflow*

