////////////////////////////////
///// Tool 3: config file //////
////////////////////////////////

////// MODIFY WITH CARE ////////


// PARAMETERS //

//percentage of isolates a gene must be in to be core (default '99')
params.core = '99'

//minimum percentage identity for blastp (default '95')
params.identity = '95'


// SOFTWARE VERSIONS //

process {
    withName:roary {
        container = 'docker://quay.io/biocontainers/roary:3.13.0--pl526h516909a_0'
    }
    withName:fasttree {
        container = 'docker://quay.io/biocontainers/fasttree:2.1.11--h779adbc_0'
    }
}


///////////////////////////////////////////
//// DO NOT CHANGE ANYTHING BELOW HERE ////
///////////////////////////////////////////

profiles {

  standard {

    singularity.enabled = true

  }

  docker {

    docker.enabled = true
    runOptions ='-u $(id -u):$(id -g)'

  }

  ghactions {

    singularity.enabled = true

    process {

      withName: massScreening {
          cpus = 2
      }

      withName: massScreeningSummary {
          cpus = 2
      }

    }

  }

}


params {
	help = false
}

//if job I.D. is not provided
params.runID = 'not_specified'



////////// THE END //////////

