//////////////////////
//Tool_3 config file//
//////////////////////

process {
    withName:roary {
        container = 'docker://quay.io/biocontainers/roary:3.13.0--pl526h516909a_0'
    }
    withName:fasttree {
        container = 'docker://quay.io/biocontainers/fasttree:2.1.8--h779adbc_6'
    }
}

singularity.enabled = true


//docker {
//    enabled = true
//    runOptions ='-u $(id -u):$(id -g)'
//}


params {
	help = false
}


//if job I.D. is not provided
params.runID = 'not_specified'

//percentage of isolates a gene must be in to be core (default '99')
params.core = '99'

//minimum percentage identity for blastp (default '95')
params.identity = '95'

////////// THE END //////////

